dist/
!www/favicon.ico
www/
node_modules/
.stencil/
.env
coverage/
*.scss.d.ts
src/components.d.ts

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
.cache/
.eslintcache
.sass-cache/
log.txt

*.sublime-project
*.sublime-workspace

.idea/
!.idea/**/vcs.xml
!.idea/**/encodings.xml
!.idea/**/codeStyleSettings.xml
!.idea/**/dictionaries
!.idea/**/copyrights
!.idea/**/misc.xml
!.idea/**/sqldialects.xml

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

$RECYCLE.BIN/
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
